/* ./css/style.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.background {
    background-color: #f0f0f0;
    color: black; 
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

#title {
    color: #333;
    text-align: center;
}

.enter-text {
    color: black; 
    text-align: center;
}

p {
    color: #333;
    line-height: 1.5;
}

ul {
    list-style-type: disc;
    padding-left: 40px;
}

ul li {
    margin-bottom: 10px;
}

#login-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}

#login-link:hover {
    text-decoration: underline;
}

/* Login form styles */
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none; /* Initially hidden */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 300px; /* Adjust width as needed */
}

.login-container h2 {
    margin-top: 0;
    font-size: 1.5em;
    text-align: center;
}

.login-container label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

.login-container input {
    width: calc(100% - 20px); /* Adjust input width */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-container button[type="submit"]:hover {
    background-color: #0056b3;
}

.login-container #message {
    margin-top: 10px;
    color: red;
    text-align: center;
}
